<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :url, "Feed Url:" %><br>
        <%= f.text_field :url , class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
    <%= link_to 'Back', feeds_path %>
  </div>
<% end %>

